@import url("variables.css");

*,
*::before,
*::after{
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{

    margin:0;

    font-family:var(--font-family);

    background:var(--background);

    color:var(--text);

    font-size:16px;

    line-height:1.5;

}

h1,h2,h3,h4,h5,h6{

    margin-top:0;

    font-weight:700;

    color:var(--text);

}

a{

    color:var(--primary);

    text-decoration:none;

    transition:var(--transition);

}

a:hover{

    color:var(--primary-dark);

}

img{

    max-width:100%;

}

.container-page{

    padding:30px;

}