<div class="ncms-card {{ class|default('') }}">

    {% if title %}
    <div class="card-header-simple">

        <div>

            <h5 class="card-title">
                {{ title }}
            </h5>

            {% if subtitle %}
            <div class="card-subtitle">
                {{ subtitle }}
            </div>
            {% endif %}

        </div>

        {% if header_action %}
            {{ header_action|safe }}
        {% endif %}

    </div>
    {% endif %}

    <div class="card-body-simple">

        {{ caller() }}

    </div>

</div>